*{
    margin:0px
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: teal;
    color:white;
    padding:10px
}

.header li{
    display: inline-block;
    padding: 5px;
    font-size: 20px;
}
.footer{
    background-color: silver;
    padding: 5px;
}
.box{
    margin: 5px;
    padding: 5px;
    border:1px solid gray;
    border-radius: 5px;
    flex: 0 0 320px;
    text-align: center;
}
.box img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
